%% Copyright (C) 2026  ErlVectorDB Contributors
%%
%% This program is free software: you can redistribute it and/or modify
%% it under the terms of the GNU General Public License as published by
%% the Free Software Foundation, either version 3 of the License, or
%% (at your option) any later version.

[
    {erlvectordb, [
        {mcp_port, 8080},
        {max_vector_stores, 100},
        {default_index_type, flat},
        {persistence_enabled, true},
        {persistence_dir, "data"},
        {backup_dir, "backups"},
        {sync_interval, 30000},  % 30 seconds
        {auto_backup_enabled, false},
        {auto_backup_interval, 3600000}  % 1 hour
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h,
                #{config => #{type => standard_io},
                  formatter => {logger_formatter, #{}}}}
        ]}
    ]}
].
